@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 70.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #ECF4FF;
}

header {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
     rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  .navbar-wrapper {
    max-width: 1398px;
    margin: 0 auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    padding: 24px;
  }
  
  .logo {
    flex: 1;
  }

  .logo img {
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .logo a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 900;
  }

   .logo span {
    font-weight: 900;
    font-size: 30px;
  }
  
  .search-form {
    flex: 2;
  }
  
  .search-form form {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
     rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  }
  
  .search-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
  }
  
  input {
    border: 0;
    outline: 0;
  }
  
  input:focus {
    outline: none !important;
  }
  
  .search-form button {
    background-color: transparent   ;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
  }
  
  .user-actions {
    flex:1;
    text-align: right;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  .user-actions a {
    text-decoration: none;
    color: #0D63F3;
    font-size: 24px;
  }

/* hero Swiper */
.hero-slider {
  max-width: 1398px;
  margin: auto;
  padding-top: 100px;
}

.swiper {
    border-radius: 12px;
}


/* Nerw Arrival */
.title {
  font-size: 38px;
  font-weight: 800;
  line-height: 38px;
  padding: 30px 0;
  text-transform: uppercase;
}

.swiper#arrival {
  max-width: 1398px;
  padding: 20px 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-title {
  font-weight: 700;
  font-size: 16px;
}

.product-description {
  font-size: 12px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 800;
  color: #0D63F3;
}

.new-arrival {
  max-width: 1398px;
  margin: 20px auto;
  padding: 100px 0;
}

.arrival-box {
    text-align: left;
    box-shadow: 0 1px 6px 0 rgba(141, 150, 170, 0.4);
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
  }
  
  .product-img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    overflow: hidden;
    transition: transform 0.5s ease;
    transform: scale(0.8);
  }

/* Recomendation */

.recomendation {
  max-width: 1398px;
  margin: 20px auto;
  padding: 100px 0 0;
}

.section-title {
  font-size: 38px;
  font-weight: 800;
  line-height: 38px;
  margin: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.recomendation-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
}

.recomendation-box {
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(141, 150, 170, 0.4);
  padding: 10px;
  background-color: #fff;
}

.discout {
  background-color: #0D63F3;
  margin: 10px;
}

.discout p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.more-container {
  text-align: right;
  margin: 20px 0;
}

/* button recomendation dan arrival */

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-button {
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  background-color:#0D63F3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  transition: transform 0.5s ease;
  border-radius: 5px;

}

.product-button:hover {
  background-color: #2F7AF8;
  transform: scale(1.1);
  color: #fff;
}

button.view-more {
  width: 120px;
  background-color: #0D63F3;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.view-more:hover {
  background-color: #2F7AF8;
  transform: scale(1.1);
}

/* CATEGORIES */
.categories {
    max-width: 1398px;
    margin: auto;
    padding: 40px 0;
    border-radius: 12px;
  }
  
  .title {
    font-size: 38px;
    font-weight: 800;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .categories-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1rem;
  }
  
  .categories-box {
    overflow: hidden;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(141, 150, 170, 0.4);
  }
  
  .categories-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    overflow: hidden;
    transition: transform 0.5s ease;
    transform: scale(0.7);
  }
  
  .categories-img:hover {
    transform: scale(0.9);
    transition: 0.5s;
  }
  
  .categories-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
  }


  /* brand */
  .brand {
    max-width: 1398px;
    margin: auto;
    padding: 40px 0;
  }
  
  .brand-name {
    padding: 24px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    gap: 1rem;
  }


  .newsletter {
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(to right ,#4d5ef69d, #f64d4dc2) ;
  }
  
  .newsletter-container {
    display: flex; flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    padding: 4.5rem 2rem;
    gap: 3rem;
  }
  
  .newsletter-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .newsletter-descrip {
    font-size: 16px;
    font-weight: 500;
  }
  
  .newsletter-subscribe {
    display: flex;
    background-color: #ECF4FF;
    padding: 10px;
    border-radius: 12px;
    column-gap: 10px;
  }
  .newsletter-subscribe input {
    border: none;
    outline: none;
    background-color: #ECF4FF;
    font-size: 16px;
    color: #fff;
  }
  
  .btn-sub {
    display: inline-block;
    align-items: center;
    background-color: #0D63F3;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    color: #fff;
  }
  
  .btn-sub:hover{
    background-color: #2F7AF8;
  }

/*  Media queries*/

@media  screen and (width:1366px) {
    .swiper {
        width: 1310px;
    }

    .categories {
        padding: 40px 30px;
      }
      .recomendation {
        padding: 100px 30px 0;
      }
    
}

  @media screen and (max-width: 768px ){

    .navbar {
        padding: 20px 10px;
    }

    .user-actions {
        gap: 1rem;
        padding-left: 10px;
        flex: 0;
      }

      .user-actions a {
        font-size: 20px;
      }

      .logo a {
        font-size: 18px;
        margin-right: 14px;
      }

       .logo span {
        font-size: 20px;
      }

    .hero-slider {
        padding-left: 10px;
        padding-right: 10px;
      }
      
      .swiper {
          border-radius: 12px;
      }
      
    

    .categories {
        padding: 10px;
    }

    .title {
        font-size: 16px;
        padding: 10px;
      }
    
      .categories-title {
        font-size: 10px;
        font-weight: 600;
      }
    
      .categories-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
      }


      .product-title {
        font-size: 12px;
      }
    
      .product-description {
        font-size: 10px;
      }
    
      .product-price {
        font-size: 12px;
      }
      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    
      .product-button {
        font-size: 12px;
        padding: 10px 20px;
      }

      .recomendation {
        padding: 10px;
      }

      .recomendation-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 1rem;
      }

      .section-title {
        font-size: 16px;
      }

      .more-container {
        text-align: center;
      }


      .brand {
        padding: 10px;
      }
      
      .brand-name {
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
      }

      .brand-name img {
        width: 100px;
        margin: auto;
      }
    


  }